@model Vmeet.Models.IndexViewModel
@{
    ViewBag.Title = "Profil";
}



<div class="container">
    <div class="row">

        <div class="row bgded" style="background-image:url('@Url.Content("~/Content/images/profil.png")');height: 517px;">

               <div class="col-lg-4 col-md-2 profil" style="left: 382px;top: 8px;background-color:transparent;">

                    <h3 style="margin-left: 41px;margin-top: 19px;">@ViewBag.Title</h3>
                    <div class="col-lg-6 col-md-2" style="left: 92px;">
                        <img src="@Url.Action("Resim",new {dosyaId = Model.ProfilResmi})" />
                        <div class="row">
                            @Html.ActionLink("Resim Ekle", "CoverImage")
                        </div>
                    </div>

                    <hr style="border-color:transparent" />

                    <div class="col-md-6">

                        <dl class="dl-horizontal" style="width: 371px;margin-left: -73px;font-size: 17px;">

                            <dt> Ad: </dt>
                            <dd> @Model.AD</dd>

                            <dt> Soyad: </dt>
                            <dd> @Model.Soyad</dd>

                            <dt> Email: </dt>
                            <dd> @Model.Email</dd>

                            <dt>Password:</dt>
                            <dd>
                                [
                                @if (Model.HasPassword)
            {
                                    @Html.ActionLink("Change your password", "ChangePassword")
                                }
                                else
                                {
                                    @Html.ActionLink("Create", "SetPassword")
                                }
                                ]
                            </dd>
                        </dl>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="button" value="Profili Düzenle" class="btn btn-default" onclick="location.href='@Url.Action("ChangeProfile", "Manage")'" style="margin-left: 68px;background-color: transparent;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>