<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top renk">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    
                </button>
                <a href="@Url.Action("Index","Home")">
                    <img height="30" src="@Url.Content("~/Content/")images/logo.png">
                </a>

                </div>
            <div class="navbar-collapse collapse">
                <div class="ustkisim2">
                    <ul class="nav navbar-nav ustkisim">
                        <li>@Html.ActionLink("ANASAYFA", "Index", "Home")</li>
                        <li>@Html.ActionLink("TOPLANTILAR", "About", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
       
        <footer>
            <!-- Footer Background Image Wrapper -->
            <div class="bgded overlay" style="background-image:url(@Url.Content("~/Content/images/demo/backgrounds/04.png"))';">
                <!-- ################################################################################################ -->
                <div class="wrapper row4">
                    <footer id="footer" class="hoc clear">
                        <!-- ################################################################################################ -->
                        <div class="btmspace-50 center">
                            <h2 class="heading">dui eu laoreet aenean non</h2>
                            <p>dapibus lacus phasellus quis ligula ut libero venenatis scelerisque</p>
                        </div>
                        <ul class="nospace group">
                            <li class="one_quarter first">
                                <div class="infobox">
                                    <i class="fa fa-phone"></i>
                                    <ul class="nospace">
                                        <li>+00 (123) 456 7890</li>
                                        <li>+00 (123) 456 7890</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="one_quarter">
                                <div class="infobox">
                                    <i class="fa fa-envelope-o"></i>
                                    <ul class="nospace">
                                        <li><a href="#">info@domain.com</a></li>
                                        <li><a href="#">sales@domain.com</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="one_quarter">
                                <div class="infobox">
                                    <i class="fa fa-clock-o"></i>
                                    <ul class="nospace">
                                        <li>Mon - Fri: 9 to 5.00pm</li>
                                        <li>Sat: 9 to 1.00pm</li>
                                    </ul>
                                </div>
                            </li>
                            <li class="one_quarter">
                                <div class="infobox">
                                    <i class="fa fa-support"></i>
                                    <ul class="nospace">
                                        <li><a href="#">Online Support</a></li>
                                        <li><a href="#">Live Chat</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <!-- ################################################################################################ -->
                    </footer>
                </div>
                <!-- ################################################################################################ -->
                <!-- ################################################################################################ -->
                <!-- ################################################################################################ -->
                <nav class="quicklinks row4">
                    <ul class="hoc clear">
                        <li><a href="#"><i class="fa fa-lg fa-home"></i></a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Shop</a></li>
                    </ul>
                </nav>
                <!-- ################################################################################################ -->
                <!-- ################################################################################################ -->
                <!-- ################################################################################################ -->
            </div>
            <!-- End Footer Background Image Wrapper -->
        </footer>
    </div>
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
