@model Vmeet.Models.Toplanti

@{
    ViewBag.Title = "Sil";
}

<div class="container" style="background-color: #d9d9d9;">
    <div class="row" style="margin-bottom: -25px;">
        <div class="col-lg-12">
            <h4 class="page-header">
                Toplantıyı Silmek İstediğinden Emin Misin?
            </h4>
        </div>
    </div>

    <table class="table table-hover table-striped" style="font-family:'Courier New', Courier, monospace; font-size:medium; margin-top: 27px;">
       
        <tr>
            <th> @Html.DisplayNameFor(model => model.ToplantiAdi)</th>
            <th> @Html.DisplayFor(model => model.ToplantiAdi)</th>
           
        </tr>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Konu)</th>
            <th> @Html.DisplayFor(model => model.Konu)</th>

        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.BaslamaZamani)</th>
            <th> @Html.DisplayFor(model => model.BaslamaZamani)</th>

        </tr>
        <tr>
            <th> @Html.DisplayNameFor(model => model.BitisZamani)</th>
            <th> @Html.DisplayFor(model => model.BitisZamani)</th>

        </tr>
        <tr>
            <th> @Html.DisplayNameFor(model => model.OzelMi)</th>
            <th> @Html.DisplayFor(model => model.OzelMi)</th>

        </tr>
        </table>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color" style="margin-bottom: 27px;">
                <input type="submit" value="SİL" class="btn btn-default" /> |
                @Html.ActionLink("Listeye Dön", "Index")
            </div>
        }
</div>
