@model IEnumerable<Vmeet.Models.Toplanti>

@{
    ViewBag.Title = "Index";
}


<div id="page-wrapper">
    <div class="row" style="background-color:#ffffff">
        <div class="col-lg-12">
            <h2 class="page-header" style="color:#31708f">
                Toplantılar
            </h2>
        </div>
    </div>
  
        <div class="table-responsive">

            <table class="table">
                <tr>
                    
                        <th>
                            @Html.DisplayNameFor(model => model.ToplantiAdi)
                        </th>
                      
                        <th>
                            @Html.DisplayNameFor(model => model.Konu)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BaslamaZamani)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BitisZamani)
                        </th>
                    <th></th>
</tr>

                @foreach (var item in Model)
            {
                    
                        <tr>

                            <td>
                                <div class="alert alert-info" role="alert">
                                    @Html.ActionLink(item.ToplantiAdi, "Index", "Toplanti", new { id = item.ID }, null)
                                    </div>
                            </td>
                            <td>
                                <div class="alert alert-info" role="alert">
                                    @Html.DisplayFor(modelItem => item.Konu)
                                    </div>
                             </td>
                            <td>
                                <div class="alert alert-info" role="alert">
                                    @Html.DisplayFor(modelItem => item.BaslamaZamani)
                                    </div>
                            </td>
                            <td>
                                <div class="alert alert-info" role="alert">
                                    @Html.DisplayFor(modelItem => item.BitisZamani)
                                    </div>
                             </td>

                        </tr>
                  
                }

            </table>
            <span class="label label-info">Açık toplantılar</span>
        </div>
    </div>
   
