@model IEnumerable<Vmeet.Models.Toplanti>

@{
    ViewBag.Title = "Index";
}


<div id="page-wrapper">
    <div class="row" style="background-color:#ffffff">
        <div class="col-lg-12">
            <h2 class="page-header" style="color:#31708f">
                Toplantılar
            </h2>
        </div>
    </div>
  
        <div class="table-responsive">

           


            @*<ul class="list-group">
                <li class="list-group-item list-group-item-success">@Html.DisplayNameFor(model => model.ToplantiAdi)</li>
                <li class="list-group-item list-group-item-info">Konu</li>
                <li class="list-group-item list-group-item-warning">Başlama Zamanı</li>
                <li class="list-group-item list-group-item-danger">Bitiş Zamanı</li>
            </ul>*@








            <table class="table">
                <tr>
                    
                        <th>
                            @Html.DisplayNameFor(model => model.ToplantiAdi)
                        </th>
                      
                        <th>
                            @Html.DisplayNameFor(model => model.Konu)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BaslamaZamani)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BitisZamani)
                        </th>
                    <th></th>
</tr>

                @foreach (var item in Model)
                {

                    @*<ul class="list-group">
                        <li class="list-group-item list-group-item-info">
                            <div class="alert alert-info" role="alert">
                                @Html.ActionLink(item.ToplantiAdi, "Index", "Toplanti", new { id = item.ID }, null)
                            </div>
                        </li>
                        <li class="list-group-item list-group-item-info">
                            <div class="alert alert-info" role="alert">
                                @Html.DisplayFor(modelItem => item.Konu)
                            </div>
                        </li>
                        <li class="list-group-item list-group-item-info">
                            <div class="alert alert-info" role="alert">
                                @Html.DisplayFor(modelItem => item.Konu)
                            </div>
                        </li>
                        <li class="list-group-item list-group-item-info">
                            <div class="alert alert-info" role="alert">
                                @Html.DisplayFor(modelItem => item.BitisZamani)
                            </div>
                        </li>
                    </ul>*@



                                    <tr>

            <td>
                <div class="alert alert-info" role="alert">
                    @Html.ActionLink(item.ToplantiAdi, "Index", "Toplanti", new { id = item.ID }, null)
                    </div>
            </td>
            <td>
                <div class="alert alert-info" role="alert">
                    @Html.DisplayFor(modelItem => item.Konu)
                    </div>
             </td>
            <td>
               <div class="alert alert-info" role="alert">
                    @Html.DisplayFor(modelItem => item.Konu)
                    </div>
            </td>
            <td>
                <div class="alert alert-info" role="alert">
                    @Html.DisplayFor(modelItem => item.BitisZamani)
                    </div>
             </td>

        </tr>
                  
                }

             </table>
            <span class="label label-info">Açık toplantılar</span>
        </div>
    </div>
   
