@model Vmeet.Models.BaslamamisToplantiViewModel

@{
    ViewBag.Title = "baslamamis";
}
<body class="row bgded" background="@Url.Content("~/Content/images/baslamamis.jpg")">
<div class="row" style="width: 1130px; margin-left: 108px; margin-top:110px">
        <div class="col-md-8" style="left: 115px;">
            <div class="thumbnail" style="border: 2px solid #50DF42;width: 650px;">
<center><p><font face="tahoma" size="2" color="#918a8a">
<br /> 
<b>- Bu toplantı henüz başlamamıştır -</b></font></p></center>

<div>
	<center><p><font face="tahoma" size="5" color="#38aa1e">
<b>@Html.DisplayFor(model => model.ToplantiAdi)</b></font></p></center>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Toplantı Yöneticisi :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yonetici)
        </dd>

        <dt>
            Toplantı Konusu :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToplantiKonusu)
        </dd>

        <dt>
            Başlama Tarihi :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToplantiBaslamaZamani)
        </dd>

        <dt>
            Toplantı Süresi :
        </dt>

        <dd>
            @Model.ToplantiSuresi.Hours saat, @Model.ToplantiSuresi.Minutes dakika
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Listeye geri dön","Index","Toplantilar")
</p>
</div>
        </div>
    </div>
</body>
