<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title - Vmeet</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="wrapper row0 navbar navbar-fixed-top">
        <div class="container hoc clear">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Vmeet", "Index", "Home",null, new { @class = "icon" })</li>
                </ul>
                <div style="padding-top:10px;">@Html.Partial("_LoginPartial")</div>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <div class="wrapper bgded overlay" style="padding:30px;">
        <article class="hoc container center">
            <!-- ################################################################################################ -->
            <footer>&copy; @DateTime.Now.Year Vmeet</footer>
            <!-- ################################################################################################ -->
        </article>
    </div>
    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
